{% extends "feedback/base.html" %}

{% block title %}
    Страница отзывов
{% endblock %}

{% block content %}
    <h2>Список отзывов</h2>
        {% for feed in feedbacks %}

            <p>
                <strong>{{ feed.pk }}. </strong>
                <strong>ФИО: </strong>{{ feed.name }} {{ feed.surname }} <br>
                <strong>Отзыв:</strong> {{ feed.feedback }} <br>
                <strong>Рейтинг:</strong> {{ feed.rating }} <br>
            </p>


        {% endfor %}
{% endblock %}